<!DOCTYPE html>
<html>
  <head>
    <title>Welp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Erica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.searchIcon = "<%= image_url('white_searchicon.png')%>"
      window.backgroundPic = "<%= image_url('kbbq-background-pic-final.png')%>"
      window.restaurantIcon = "<%= image_url('categories/restaurant_icon.png')%>"
      window.shoppingIcon = "<%= image_url('categories/shopping_icon.png')%>"
      window.carIcon = "<%= image_url('categories/car_icon.png')%>"
      window.nightlifeIcon = "<%= image_url('categories/nightlife_icon.png')%>"
      window.tacos = "<%= image_url('popular_searches/tacos.jpg')%>"
      window.loungeBar = "<%= image_url('popular_searches/nightlife.jpg')%>"
      window.auto = "<%= image_url('popular_searches/auto.jpg')%>"
      window.shopping = "<%= image_url('popular_searches/shopping.jpg')%>"
      window.bottomImg = "<%= image_url('yelp_footer.png')%>"
      window.mainLogo = "<%= image_url('yelp_logo.png')%>"
      window.tacoPlace = "<%= image_url('new_businesses/tacos.png')%>"
      window.sushiPlace = "<%= image_url('new_businesses/sushi.png')%>"
      window.kbbqPlace = "<%= image_url('new_businesses/kbbq.png')%>"
      window.threeStar = "<%= image_url('review_star_splash/three_star.png')%>"
      window.fiveStar = "<%= image_url('review_star_splash/five_star.png')%>"
      window.fire = "<%= image_url('fire.png')%>"
      window.defaultProfile = "<%= image_url('chandler-bing.png')%>"
      window.downArrow = "<%= image_url('down_arrow.png')%>"
      window.star = "<%= image_url('outline-star-128.png')%>"
      window.verified = "<%= image_url('verified.png')%>"
      window.sampleMap = "<%= image_url('sample_map.png')%>"
    </script>
    <%= favicon_link_tag asset_path('yelp_favicon.png')  %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
