<!DOCTYPE html>
<html>
  <head>
    <title>Welp</title>
    <meta property="og:title" content=Welp />
     <meta property='og:image' content="<%= image_url('welp_intro.gif') %>"/>
     <meta property="og:description"
       content="A web application that serves as a platform for users to search for businesses based on location and leave reviews and ratings when logged in."
     />
     <meta property="og:url"
       content="http://welp-aa.herokuapp.com/"
     />
     <meta name="author" content="Hojung Cha">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Erica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous" />
    <script type="text/javascript">
      window.searchIcon = "<%= image_url('white_searchicon.png')%>"
      window.restaurantIcon = "<%= image_url('categories/restaurant_icon.png')%>"
      window.shoppingIcon = "<%= image_url('categories/shopping_icon.png')%>"
      window.carIcon = "<%= image_url('categories/car_icon.png')%>"
      window.nightlifeIcon = "<%= image_url('categories/nightlife_icon.png')%>"
      window.tacos = "<%= image_url('popular_searches/tacos.jpg')%>"
      window.bottomImg = "<%= image_url('yelp_footer.png')%>"
      window.mainLogo = "<%= image_url('welp_logo.png')%>"
      window.tacoPlace = "<%= image_url('new_businesses/tacos.png')%>"
      window.sushiPlace = "<%= image_url('new_businesses/sushi.png')%>"
      window.kbbqPlace = "<%= image_url('new_businesses/kbbq.png')%>"
      window.threeStar = "<%= image_url('review_star_splash/three_star.png')%>"
      window.fiveStar = "<%= image_url('review_star_splash/five_star.png')%>"
      window.fire = "<%= image_url('fire.png')%>"
      window.chandler = "<%= image_url('profile_pic/chandler-bing.png')%>"
      window.ross = "<%= image_url('profile_pic/ross_geller.jpg')%>"
      window.joey = "<%= image_url('profile_pic/joey_tribbiani.png')%>"
      window.monica = "<%= image_url('profile_pic/monica_geller.jpg')%>"
      window.rachel = "<%= image_url('profile_pic/rachel_green.jpg')%>"
      window.phoebe = "<%= image_url('profile_pic/phoebe_buffay.jpg')%>"

      window.downArrow = "<%= image_url('down_arrow.png')%>"
      window.star = "<%= image_url('outline-star-128.png')%>"
      window.verified = "<%= image_url('verified.png')%>"
      window.sampleMap = "<%= image_url('sample_map.png')%>"
      window.addPhoto =  "<%= image_url('addphoto.png')%>"
      window.oneStar = "<%= image_url('stars/onestar.png')%>"
      window.oneHalfStar = "<%= image_url('stars/onehalf_star.png')%>"
      window.twoStar = "<%= image_url('stars/twostar.png')%>"
      window.twoHalfStar = "<%= image_url('stars/twohalf_star.png')%>"
      window.threeStar = "<%= image_url('stars/threestar.png')%>"
      window.threeHalfStar = "<%= image_url('stars/threehalf_star.png')%>"
      window.fourStar = "<%= image_url('stars/fourstar.png')%>"
      window.fourHalfStar = "<%= image_url('stars/fourhalf_star.png')%>"
      window.fiveStar = "<%= image_url('stars/fivestar.png')%>"
      window.cool = "<%= image_url('reactions/cool.png')%>"
      window.funny = "<%= image_url('reactions/funny.png')%>"
      window.useful = "<%= image_url('reactions/useful.png')%>"
      window.stockPhoto = "<%=image_url('food_stock.jpg')%>"
      window.japaneseCuisine = "<%=image_url('popular_searches/japanese_cuisine.jpg')%>"
      window.americanCuisine = "<%=image_url('popular_searches/american_cuisine.jpg')%>"
      window.koreanCuisine = "<%=image_url('popular_searches/korean_cuisine.jpg')%>"

      window.yes = "<%=image_url('business_boolean/yes.png')%>"
      window.no = "<%=image_url('business_boolean/no.png')%>"
    </script>
    <%= favicon_link_tag asset_path('yelp_favicon.png')  %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
